<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <meta charset="UTF-8">
    <title>EcoMERN</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a href="#">HOME</a>
                <a href="#">O NAS</a>
                <a href="#">KONTAKT</a>
                <a href="#">SKLEP</a>
            </div>
            <div>
                <img class="imageMadelineLogo" src="./Madeline-logo-slider.png" alt="Madeline"> 
            </div>
            <div>
                <a href="#">Cart</a>
                <a href="#">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">   
                <div class="card">
                    <a href="product1.html">
                        <img class="medium" src="./images/CzekoladaRubinowaKlasyczna.jpg" alt="product1" />
                    </a>
                    <div class="card-body">
                        <a href="product1.html">
                            <h2>Czekolada Rubinowa</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">14.50 zł</div>
                    </div>
                </div>

                <div class="card">
                    <a href="product2.html">
                        <img class="medium" src="./images/CzekoladaPistacjowaMaliny.jpg" alt="product2" />
                    </a>
                    <div class="card-body">
                        <a href="product2.html">
                            <h2>Czekolada Pistacjowa</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">16.50 zł</div>
                    </div>
                </div>

                <div class="card">
                    <a href="product3.html">
                        <img class="medium" src="./images/CzekoladaSingleOriginMadagaskar67.jpg" alt="product3" />
                    </a>
                    <div class="card-body">
                        <a href="product3.html">
                            <h2 class="center">Czekolada SingleOrigin</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">16.00 zł</div>
                    </div>
                </div>

            </div>
        </main>
        <footer class="row center">All rights reserved</footer>
    </div>
</body>
</html>